/* body{
  background: #1a1b3a;
} */
.paper{
  padding-top: 5%;
  padding-bottom: 10%;
  width: 300px;
  background: white !important;
  border-radius: 30px;
    margin: 40%;
    margin-top: 10vh !important;
    margin-bottom: 0;
}
.password-inp{
  border: none;
  height: 95% !important;
  width: 95% !important;
}
.password-inp:focus{
  outline: none !important;
  border: none !important;
}
.password-inp-div{
  height: 35px;
  border-radius: 10px;
  border: 1px solid gray !important;
}